{% set active_page = "about" %}
{% extends "base.html" %}

{% block content %}
  <div class="container">
   
    <div class="row">
      <h3><a onclick="expandSection(aboutMe);"><i class="fas fa-toggle-off" id="aboutMeButton"></i></a>&nbsp;&nbsp;About Me</h3>
      <div id="aboutMe" style="display: none;">

    <div class="row">
      <div class="twelve columns">
        <p>
          <i class="fab fa-github"></i> <a href="https://github.com/alexjrlewis" target="_blank">github.com/alexjrlewis</a>
          <br>
          <i class="fab fa-mastodon"></i> <a href="https://mastodon.social/web/@alexjrlewis" target="_blank">@alexjrlewis@mastodon.social</a>
        </p>
      </div>
    </div>
  </div>
</div>   

    <div class="row">
      <div class="twelve columns">
      </div>
    </div>

    <div class="row">
      <h3><a onclick="expandSection(workExperience);"><i class="fas fa-toggle-off" id="workExperienceButton"></i></a>&nbsp;&nbsp;Work Experience</h3>
      <div id="workExperience" style="display: none;">
        <ul>
          <li>Software Engineer & Data Analyst, <a href="https://www.itim.com/" target="_blank">itim</a>, London, UK, <span style="background: #D061EB;">January 2019 — Present</span></li>
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>
        </ul>
        <ul>
          <!-- #7CEB61 green -->
          <!-- #EB8B61 orange -->
          <!-- #D061EB purple -->
          <li>Freelance Web Developer, <a href="https://www.gigabyte.software/" target="_blank">Gigabyte Software</a>, London, UK, <span style="background: #D061EB;">August 2018 — December 2019</span></li>
          <ul>
            <li>foo</li>
            <li>bar</li>
            <li>baz</li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="row">
      <h3><a onclick="expandSection(education);"><i class="fas fa-toggle-off" id="educationButton"></i></a>&nbsp;&nbsp;Education</h3>
      <div id="education" style="display: none;">
        <ul>
          <li><a href="https://era.lib.ed.ac.uk/handle/1842/33044" target="_blank">Ultra-red Galaxies</a> (PhD funded by the ERC), The University of Edinburgh, Edinburgh, UK, August 2014 — March 2018</li>
          <li>Astrophysics (BSc Hons), Upper Second (2:1), The University of Edinburgh, Edinburgh, UK, September 2008 — May 2014</li>

            My PhD was focused on enhancing our understanding of the role that massive, dusty galaxies have played in the formation of the largest gravitationally bound structures seen today, i.e. galaxy clusters. Throughout this period I utilised some of the world's most sophisticated telescopes (APEX, JCMT and WHT), clocking in around 3-weeks' worth of hands-on observing experience in some of our planet’s remotest regions (Hawaii, Chile, La Palma). Complementing this, I performed multiple analyses (image reduction, machine learning, chi-squared regression, Monte Carlo simulations) on so-called "big data" in order to prove the various hypothesis within my thesis. All publications of mine can be found at:
            https://orcid.org/0000-0002-2818-1478
            and my thesis can be downloaded at:
            https://era.lib.ed.ac.uk/handle/1842/33044
        </ul>
      </div>
    </div>

  </div>

{% endblock content %}
