{% set active_page = "pay" %}
{% extends "base.html" %}

{% block content %}
  <div class="container">
    
    <div class="row">
      <form action="{{ url_for('pay_bp.generate_invoice') }}" method="post">
        {{ form.csrf_token }}
        <div class="row">
          <div class="six columns">
            {{ form.amount.label }}
            {{ form.amount }}
          </div>
          <div class="six columns">
            {{ form.currency.label }}
            {{ form.currency }}
        </div>

      <div class="row">
        <h3><a onclick="expandSection(memo);"><i class="fas fa-toggle-off" id="memoButton"></i></a>&nbsp;&nbsp;Add memo?</h3>
        <div id="memo" style="display: none;">
          <div class="row">
            {{ form.memo.label }}
            {{ form.memo }}
          </div>
          <br>
        </div>
      </div>
      <br>
      <!-- <div class="g-recaptcha" data-sitekey="foo-bar-baz"></div> -->
      {{ form.submit }}
      <br>
      <br>
        <!-- <button class="button-all-good">Copy</button> -->
        <button class="button-destructive">Cancel</button>
        <i class="fas fa-clock"></i> Expires in {{ payment_request_expiration_time }} seconds
        <!-- <div id="expiryTime">1 second</div> -->
      </form>
    </div>

    <div class="row">
      <div class="twelve columns" style="text-align: center;">
        <!-- <img src="{{ payment_request_qrcode  }}" alt="payment-request-qrcode" id="paymentRequestQRCode" style="height: 180px;"> -->
      <!-- <img width="300px" src="{{ url_for('static', filename='img/ln-invoice.png') }}"> -->
      </div>
    </div>
    <div class="row" style="text-align: justify; word-wrap: break-word;">
      <div class="twelve columns">
        <!-- {{ payment_request_html | safe }} <a><i class="fa-solid fa-paste"></i> <b>copy</b></a> -->
        qrcode
      </div>
    </div>
    
    <br>
    <br>
    <br>

    <div class="row">
      <h3><a onclick="expandSection(help);"><i class="fas fa-toggle-off" id="helpButton"></i></a>&nbsp;&nbsp;Need help?</h3>
      <div id="help" style="display: none;">
        <div class="row">
          (1) Download a wallet (2) Purchase some bitcoin via a Lightning ATM and send it to that wallet (3) When the wallet balance gets too large, send it to cold storage by generating your own private key:
        </div>
        <br>
        <div class="row">
          <!-- downloading a wallet or buying bitcoin -->
          <div class="four columns" style="background: clear; text-align: center;">
            <a href="https://muun.com/" target="_blank"><img src="{{ url_for('static', filename='img/muun-wallet.png') }}" style="height: 180px;"></a>
            <br>
            <!-- <a href="https://muun.com/" target="_blank">https://muun.com</a> -->
          </div>
          <div class="four columns" style="background: clear; text-align: center;">
            <!-- <a href="https://atm.lightning.store/" target="_blank"><img src="{{ url_for('static', filename='img/lightning-atm.png') }}" style="height: 180px;"></a> -->
            <br>
            <!-- <a href="https://atm.lightning.store" target="_blank">https://atm.lightning.store</a> -->
          </div>
          <div class="four columns" style="background: clear; text-align: center;">
            <!-- <a href="https://iancoleman.io/bip39/" target="_blank"><img src="{{ url_for('static', filename='img/entropy.png') }}" style="height: 180px;"></a> -->
            <br>
            <a href="https://iancoleman.io/bip39/" target="_blank">https://iancoleman.io/bip39</a>
          </div>
        </div>
        <br>
        <div class="row">
          <!-- Useful reading: -->
        </div>
        <br>
      </div>
    </div>
    </div>
      
    <div>
      
    </div>

  </div>

<script type="text/javascript">
// start the invoice expiry time
// const startTime = new Date();
// const textPad = document.getElementById("expiryTime");
// console.log("startTime = ", startTime);
// console.log("textPad = ", textPad);
</script>

{% endblock content %}
